{% extends "base.html" %}
{% block title %}
პროდუქტის დამატება
{% endblock %}

{% block container %}
<div class="row">
    <div class="create-box">
        <form method="post" enctype="multipart/form-data" class="col p-5">
            {{ form.hidden_tag() }}

            {% for errors in form.errors.values() %}
            <div class="alert alert-danger">
                {% for error in errors %}
                * {{ error }}<br>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="row">
                {{ form.img(class="form-control", accept="image/png, image/jpeg") }}
            </div>

            <div class="row mt-2">
                {{ form.name(class="form-control", placeholder=form.name.label.text) }}
            </div>

            <div class="row mt-2">
                {{ form.price(class="form-control", placeholder=form.price.label.text) }}
            </div>

            <div class="row mt-2">
                {{ form.category(class="form-select") }}
            </div>

            <div class="row mt-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
